html {
}

body, html {
    width: 100%;
    height: 100%;
}

.group1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60% auto;
    gap: 10px;
    height: 49%;
}

.group2 {
    display: grid;
    grid-template-columns: 46% 20% auto;
    grid-template-rows: 31% 13% auto;
    gap: 10px;
    height: 51%;
}

.a {
    grid-row: span 2;
    background-color: aqua;
}

.b {
    grid-column: span 2;
    background-color: beige;
}

.c {
    position: absolute;
    float: right;
    background-color: brown;
    height: 26%;
    width: 20%;
}

.d {
    grid-column: span 2;
    background-color: blueviolet;
}