body, html {
    padding: 2rem;
    width: 100%;
    height: 100%;
    position: relative;
}

.group1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60% auto;
    gap: 10px;
    height: 49%;
}

.group2 {
    display: grid;
    grid-template-columns: 46% 20% auto;
    grid-template-rows: 31% 13% 40% auto;
    gap: 10px;
    height: 51%;
    margin-top: 10px;
}

.a {
    grid-row: span 2;
    background-color: aqua;
}

.b {
    grid-column: span 2;
    background-color: beige;
}

.c {
    position: absolute;
    float: right;
    top: -40px;
    right: -40px;
    background-color: brown;
    height: 26%;
    width: 20%;
}

.d {
    grid-column: span 2;
    background-color: blueviolet;
}

.e {
    grid-column: span 3;
    background-color: cadetblue;
}

.f {
    grid-column: span 3;
    background-color: chartreuse;
}

.g {
    background-color: chocolate;
}

.h{
    background-color:cyan;
    grid-row: span 2;
}

.i {
    background-color: darkgoldenrod;
}